<div class="w-full h-screen flex items-center">
  <div class="w-full h-screen flex flex-col px-6 mr-auto ml-auto relative" style="max-width: 530px">
    <div class="absolute top-0 inset-x-0 bg-green-400 text-white flex flex-col items-center h-1/2 mx-8 rounded-b-3xl">
      <span class="text-2xl mt-8 mb-4">Wandeling met Ramon:</span>
      <img class="w-1/2 rounded-xl mb-auto" src="/assets/ramon.jpg" alt="Ramon">

      <span class="text-4xl mb-6">Begint vandaag om 11:00</span>
      <span class="text-xl mb-8">Stationstraat 11, 7607GX Almelo</span>
    </div>
    <div class="absolute bottom-0 inset-x-0 mb-20 flex gap-4 mx-8">
      <div class="flex-1 rounded-xl bg-green-400">
        <div class="w-full aspect-h-4 aspect-w-3">
          <div class="flex flex-col">
            <img class="m-4 rounded-xl" src="/assets/ramon.jpg" alt="Ramon">
            <div class="m-4 mt-auto text-center text-2xl text-white">
              Ramon Brouwers
            </div>
          </div>
        </div>
      </div>
      <div class="flex-1 rounded-xl bg-recognize-purple">
        <div class="w-full aspect-h-4 aspect-w-3">
          <div class="flex flex-col">
            <img class="m-4 rounded-xl" src="/assets/peter.jpg" alt="Peter">
            <div class="m-4 mt-auto text-center text-2xl text-white">
              Peter Kwarts
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="absolute bottom-4 left-8 bg-gray-400 text-white rounded-full p-2" routerLink="/leaderboard" inlineSVG="/assets/trophy.svg">
    </a>
  </div>
</div>
