<div class="w-full h-screen flex items-center">
  <div class="w-full h-screen flex flex-col px-6 mr-auto ml-auto relative" style="max-width: 530px">
    <div class="absolute top-0 inset-x-0 bg-green-400 text-white flex flex-col items-center mx-8 rounded-b-3xl">
      <span class="text-6xl mt-10 uppercase">Leaderboard</span>
      <span class="text-3xl uppercase my-6">Sprint 12</span>
    </div>
    <div class="mt-56">
      <div class="w-full text-center text-5xl uppercase text-recognize-purple font-bold mb-4">
        Top 3
      </div>
      <div class="flex flex-col gap-6">
        <div class="rounded-lg bg-recognize-purple flex text-white items-center pr-4">
          <div class="bg-recognize-purple-light rounded-lg font-bold p-4 text-4xl w-20">1e</div>
          <div class="text-medium px-8 text-3xl">Peter Kwarts</div>
          <img class="ml-auto h-16" src="/assets/broccoli.png" alt="broccoli">
        </div>
        <div class="rounded-lg bg-recognize-purple flex text-white items-center pr-4">
          <div class="bg-recognize-purple-light rounded-lg font-bold p-4 text-4xl w-20">2e</div>
          <div class="text-medium px-8 text-3xl">Tom Knol</div>
          <img class="ml-auto h-16" src="/assets/pepper.png" alt="pepper">
        </div>
        <div class="rounded-lg bg-recognize-purple flex text-white items-center pr-4">
          <div class="bg-recognize-purple-light rounded-lg font-bold p-4 text-4xl w-20">3e</div>
          <div class="text-medium px-8 text-3xl">Ramon Brouwers</div>
          <img class="ml-auto h-16" src="/assets/banana.png" alt="banana">
        </div>
      </div>
      <div class="w-full text-center text-5xl uppercase text-red-600 font-bold my-4">
        Huismus
      </div>
      <div class="flex flex-col gap-6">
        <div class="rounded-lg bg-red-600 flex text-white items-center pr-4">
          <div class="bg-red-700 rounded-lg font-bold px-2 py-4 text-4xl w-20">30e</div>
          <div class="text-medium px-8 text-3xl">Peter Kwarts</div>
          <img class="ml-auto h-16" src="/assets/Fries.svg" alt="Fries">
        </div>
      </div>
      <div class="w-full text-center text-5xl uppercase text-recognize-purple font-bold my-4">
        Jouw Positie
      </div>
      <div class="flex flex-col gap-6">
        <div class="rounded-lg bg-recognize-purple flex text-white items-center pr-4">
          <div class="bg-recognize-purple-light rounded-lg font-bold p-4 text-4xl w-20">7e</div>
          <div class="text-medium px-8 text-3xl">Bart Wesselink</div>
          <img class="ml-auto h-16" src="/assets/strawberry.png" alt="strawberry">
        </div>
      </div>
    </div>
  </div>
</div>
